
@{
    ViewBag.Title = "Index";
}
@model AdminDashboradRh.Models.UserApp
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biwam Rh</title>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @ViewBag.Error
                        @Html.AntiForgeryToken()
                        <h1>Login Form</h1>
                        <div>
                      
                            @Html.TextBoxFor(model => model.Name_User, new { @class = "form-control" })
                        </div>
                        <div>
                            @Html.PasswordFor(model => model.Password_User, new { @class = "form-control" })
                        </div>
                        <div>
                        
                            <input type="submit" name="log" value="Login" class="btn btn-default submit" />

                        </div>
                        <div class="clearfix"></div>

                        <div>
                            <br\>
                                <br\>
                                    <h1>
                                        Biwam RH
                                    </h1>
                                    <p>©2017 All Rights Reserved By Biwam cosulting</p>


                        </div>
                    }
                </section>








            </div>
        </div>
    </div>
</body>
</html>
